<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Moji recepti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button (click)="setAddOpen(true)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngFor="let recepie of recepies">
    <ion-card>
      <ion-card-header>
        <div class="date">
          <ion-card-title color="primary" class="ion-float-left">
            <strong>{{ recepie.title }}</strong>
          </ion-card-title>
          
          <ion-badge class="ion-float-right" *ngIf="recepie.difficulty == 1" color="light">Za pocetnike</ion-badge>
          <ion-badge class="ion-float-right" *ngIf="recepie.difficulty == 2" color="medium">Lako</ion-badge>
          <ion-badge class="ion-float-right" *ngIf="recepie.difficulty == 3" color="dark">Srednje</ion-badge>
          <ion-badge class="ion-float-right" *ngIf="recepie.difficulty == 4" color="primary">Tesko</ion-badge>
          <ion-badge class="ion-float-right" *ngIf="recepie.difficulty == 5" color="danger">Veoma tesko</ion-badge>
          
        </div>
        <br>
        <p>{{ recepie.date }}</p>
      </ion-card-header>
      
      <ion-card-content class="description">
        {{ recepie.description }}
      </ion-card-content>
    
      <ion-button fill="clear" (click)="deleteRecepie(recepie)">
        <ion-icon name="trash-outline"></ion-icon>Obrisi
      </ion-button>
      <ion-button fill="clear" (click)="goToUpdatePage(recepie)"><ion-icon name="create-outline" ></ion-icon>Izmeni</ion-button>
    </ion-card>
  </ion-list>

  <ion-modal [isOpen]="isModalAddOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title color="primary">Dodaj novi recept</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setAddOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-input [(ngModel)]="title" placeholder="Unesite ime jela"></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea [(ngModel)]="description" placeholder="Unesite nacin pripreme"></ion-textarea>
            </ion-item>
                <ion-item>
              <ion-select placeholder="Tezina pripreme" [(ngModel)]="difficulty">
                <ion-select-option value="1">Za pocetnike</ion-select-option>
                <ion-select-option value="2">Lako</ion-select-option>
                <ion-select-option value="3">Srednje</ion-select-option>
                <ion-select-option value="4">Tesko</ion-select-option>
                <ion-select-option value="5">Veoma tesko</ion-select-option>
                
              </ion-select>
            </ion-item>
            <ion-button expand="block" (click)="addRecepie()">Dodaj novi recept</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
